<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
   		http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:climate.properties"/>

    <bean id="beanClimateMoscow"
          class="ermin.vermin.Relocation.Climate">
        <property name="pressure" value="${climate.pressureMoscow}"/>
        <property name="rainfallSummer" value="middle"/>
        <property name="rainfallWinter" value="many"/>
        <property name="tSummer" value="20"/>
        <property name="tWinter" value="-20"/>
        <property name="changingSeasons" value="true"/>
        <property name="climateType" value="TEMPERATE"/>
    </bean>

    <bean id="beanClimatePiter"
          class="ermin.vermin.Relocation.Climate">
        <property name="pressure" value="${climate.pressurePiter}"/>
        <property name="rainfallSummer" value="many"/>
        <property name="rainfallWinter" value="many"/>
        <property name="tSummer" value="${climate.tSummer}"/>
        <property name="tWinter" value="-40"/>
        <property name="changingSeasons" value="true"/>
        <property name="climateType" value="TEMPERATE"/>
    </bean>

</beans>